@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins/PoppinsThin.ttf);
  font-weight: 100;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins/PoppinsExtraLight.ttf);
  font-weight: 200;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins/PoppinsLight.ttf);
  font-weight: 300;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins/PoppinsRegular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins/PoppinsMedium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins/PoppinsSemiBold.ttf);
  font-weight: 600;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins/PoppinsBold.ttf);
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins/PoppinsExtraBold.ttf);
  font-weight: 800;
}

@font-face {
  font-family: Poppins;
  src: url(./assets/Fonts/Poppins/PoppinsBlack.ttf);
  font-weight: 900;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

body {
  font-family: Poppins;
}

.navbar {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 12px 0;
  position: sticky;
  left: 0;
  top: 0;
}

.navbar__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1440px;
  margin: 0 auto;
}

.nav__right {
  display: flex;
  gap: 24px;
  align-items: center;
}

.nav__logo {
  font-size: 32px;
  font-weight: 600;
}

.nav__logo__span {
  font-size: 32px;
  font-weight: 600;
  color: green;
}

.nav__link {
  font-size: 18px;
  font-weight: 500;
  color: #000;
}

.nav__link__contact {
  padding: 8px 16px;
  background-color: green;
  color: #fff;
  border-radius: 4px;
}

.hero__img {
  border-radius: 8px;
  width: 800px;
}

.hero__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1440px;
  height: 92vh;
}

.hero__title {
  margin-bottom: 24px;
  color: rgb(88, 88, 213);
  letter-spacing: 2px;
  font-size: 42px;
}

.hero__title__span2 {
  color: green;
}

.hero__title__span {
  color: rgb(214, 107, 107);
}

.hero__subtitle {
  letter-spacing: 1px;
  color: darkblue;
  font-size: 18px;
}

.hero__btns {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}

.hero__btn1 {
  padding: 6px 18px;
  color: #fff;
  background-color: green;
  border: none;
  font-size: 20px;
  font-family: Poppins;
  border-radius: 4px;
  letter-spacing: 1px;
}

.hero__btn2 {
  padding: 6px 18px;
  color: #fff;
  background-color: darkgoldenrod;
  font-family: Poppins;
  border: none;
  font-size: 20px;
  border-radius: 4px;
  letter-spacing: 1px;
}
